/* nav */
.nav-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;

  && button {
    background-color: inherit;
    border: none;
  }
}

.nav-links {
  display: none;
  a {
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
  }
  a:first-of-type {
    margin-left: 20px;
  }
}

.mob-hamburger {
  display: none;
}

/* hero section */
.hero-section {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px 200px;
  width: 100%;
  height: 410px;
  display: grid;
  place-content: center;
  && img {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: auto;
    width: 50%;
    max-width: 400px;
    flex-grow: 1;
  }
  && h1 {
    font-size: 52px;
    color: var(--primary-color);
    line-height: 40px;
  }
  && h1:last-of-type {
    color: var(--tertiary-color);
    font-size: 38px;
    margin-bottom: 20px;
  }
  && div {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  && .flex div {
    min-width: 205px;
    margin-right: 40px;
  }
  .flex {
    max-width: 70rem;
  }
  && p {
    margin-bottom: 60px;
    line-height: 1.5;
  }
}

/* special section */
.specials .flex {
  text-wrap: nowrap;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 180px;
  && ::-webkit-scrollbar {
    display: none;
  }
}

.specials h3 {
  padding-left: 180px;
}

.specials-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column on small screens */
  gap: 20px;
  padding: 20px 180px;
}

.specials-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.specials-section:hover {
  transform: translateY(-10px);
}

.specials-section img {
  margin: 20px auto;
  border-radius: 8px;
  width: 100%;
  height: auto;
  max-width: 200px;
}

.specials-section h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #333;
}

.specials-section p {
  color: var(--secondary-color);
  margin: 0;
}

.specials-section p:first-of-type {
  color: var(--primary-color);
  margin: 0;
}

.specials-section p:last-of-type {
  margin-top: 15px;
  font-weight: bold;
}

.specials-delivery {
  gap: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  && span {
    font-size: smaller;
    color: var(--secondary-color);
  }
  && svg {
    color: var(--secondary-color);
  }
}

/* review section */

.review-section {
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px 200px;
  height: 50vh;
  overflow-y: auto;

  && h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
  }
}

.review-section::-webkit-scrollbar {
  display: none;
}

.review-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reviews-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.review {
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  min-width: 250px;
  justify-content: space-between;
  && h4 {
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
  }
  && .rating {
    display: flex;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  && .rating svg {
    margin-right: 0.2rem;
    box-shadow: none;
  }
  && .comment {
    font-size: 14px;
    color: var(--secondary-color);
  }
}

/* history section */

.history-section {
  padding: 20px 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  && h1 {
    font-size: 48px;
    color: var(--primary-color);
    line-height: 40px;
  }
  && h1:last-of-type {
    color: var(--tertiary-color);
    margin-bottom: 30px;
  }
  && p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-wrap: balance;
  }
}

.hist-text {
  width: 50%;
  margin-right: 40px;

  && h1:last-of-type {
    font-size: 39px;
  }
  && p {
    line-height: 1.5;
  }
}

.history-img {
  position: relative;
  width: 50%;
  height: auto;
  margin-top: 20px;
  display: grid;
  place-content: center;
}

.history-img img:first-of-type {
  height: 30rem;
  width: 25rem;
  object-fit: cover;
  margin-top: 5rem;
  margin-right: 10rem;
}

.history-img img:last-of-type {
  position: absolute;
  height: 30rem;
  width: 25rem;
  object-fit: cover;
  top: 0;
  right: 0;
}

.footer {
  padding: 20px 200px;
  margin-top: 100px;
  line-height: 1.5;
  && img {
    margin-right: 50px;
  }
}

.footer p:not(:first-child) {
  cursor: pointer;
  color: var(--secondary-color);
}

.footer .flex {
  justify-content: space-around;
  gap: 10px;
}

.footer-tags {
  display: flex;
  gap: 20px;
  padding-left: 20px;

  && p:first-child {
    font-size: larger;
    font-weight: 800;
    margin-bottom: 10px;
  }
}

/* mobile menu */
.booking-form {
  display: grid;
  max-width: 400px;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.confirmed-page {
  display: grid;
  max-width: 400px;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  background-color: white;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.mobile-menu-list {
  list-style: none;
  padding: 0;
}

.mobile-menu-list li {
  margin: 20px 0;
  font-size: 1.5rem;
}

.mobile-menu-list li a {
  text-decoration: none;
  color: black;
}
